[submodule "alacritty/.config/alacritty/themes/rose-pine"]
	path = alacritty/.config/alacritty/themes/rose-pine
	url = git@github.com:rose-pine/alacritty.git
[submodule "alacritty/.config/alacritty/themes/catppuccin"]
	path = alacritty/.config/alacritty/themes/catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule "zsh/.zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "alacritty/.config/alacritty/themes/dracula"]
	path = alacritty/.config/alacritty/themes/dracula
	url = git@github.com:dracula/alacritty.git
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
