zsh/.oh-my-zsh/custom/themes/async
zsh/.oh-my-zsh/custom/themes/typewritten.zsh-theme
zsh/.zshrc
alacritty/.config/alacritty/alacritty.yml
alacritty/.config/alacritty/alacritty.toml
kitty/.config/kitty/kitty.conf
xmonad-x86_64-linux
xmonad.errors
xmonad.hi
xmonad.o
nvim/.config/nvim/plugin
xmonad/**/*.hi
xmonad/**/*.o
zsh/.zsh/local.zsh
