# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

# Which is equivalent to
format = """
$username\
$hostname\
$localip\
$directory\
$vcsh\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$fill\
$docker_context\
$package\
$deno\
$golang\
$julia\
$lua\
$nodejs\
$ocaml\
$python\
$rlang\
$rust\
$buf\
$nix_shell\
$memory_usage\
$env_var\
$custom\
$sudo\
$cmd_duration\
$line_break\
$jobs\
$battery\
$time\
$status\
$os\
$container\
$shell\
$character"""

[directory]
truncate_to_repo = false
style = 'bold yellow'
format = '[ $path]($style)[$read_only]($read_only_style) '

[fill]
symbol = ' '

[git_branch]
symbol = ' '

[git_status]
style = 'bold green'
format = '([\[$all_status$ahead_behind\]]($style) )'

[nodejs]
style = 'bold green'
format = '[$symbol($version )]($style)'

[rlang]
style = 'bold blue'
symbol = 'R '
format = '[$symbol($version )]($style)'
